.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDB98C;
}

.imagen {
    width: 10%;
    order: 2;
}

.nav {
    order: 1;
}

.carrito {
    order: 4;
}

.links {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10%;
    color: #FFFFFF;
    justify-content: flex-start;
}

.titulo {
    color: #FFFFFF;
    order: 3;
}

.item {
    color: #EDB98C;
    font-size: 200%;
    text-align: center;
}


/* .itemCount {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #A0B19D;
    padding: 2rem;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 150%
} */

.botonesSumarRestar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: -2rem;
    padding: 2rem;
    margin-bottom: -32px;
}

.contador {
    margin: 0.5rem;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 3%;
    width: 20%;
    color: black;
    font-size: 70%;
}

.btnSumar,
.btnRestar {
    height: 2rem;
    margin: 1rem;
    border: none;
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #EEB98D;
    color: #FFFFFF;
    transition: background-color .5s;
}

.btnSumar:hover {
    background-color: #7e634c;
}

.btnRestar:hover {
    background-color: #7e634c;
}

.btnAgregar {
    width: 100%;
    padding: 2%;
    border: none;
    margin: 0;
    border-radius: 7px;
    background-color: #EEB98D;
    color: #FFFFFF;
    transition: background-color .5s;
    height: 35%;
    position: relative;
    right: 0%;
    font-size: 50%;
}

.btnAgregar:hover {
    background-color: #7e634c;
}

.itemImagen {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.item-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #A0B19D;
    padding: 0.7rem;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 150%;
    height: 415px;
}

.btnDetalle {
    width: 30%;
    height: 6%;
    border: none;
    margin: 0;
    border-radius: 7px;
    background-color: #EEB98D;
    color: #FFFFFF;
    transition: background-color .5s;
    font-size: 50%;
}

.btnDetalle:hover {
    background-color: #7e634c;
}

.item-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}

.item-detail-container {
    background-color: #A0B19D;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 2%;
    margin: 5%;
    font-size: 150%;
    font-weight: 500;
}

.item-detail {
    display: flex;
    flex-direction: row;
}

.item-detail1 {
    align-self: flex-start;
    width: 50%;
}

.item-detail-img {
    width: 120%;
    margin: 5%;
}

.item-detail2 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
}

.item-detail-description {
    font-size: 90%;
}

.item-detail-price {
    font-weight: 500;
}