.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EDB98C;
}

.imagen {
    width: 10%;
    order: 2;
}

.nav {
    order: 1;
}

.carrito {
    order: 4;
}

.links {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10%;
    color: #FFFFFF;
    justify-content: flex-start;
}

.titulo {
    color: #FFFFFF;
    order: 3;
}

.item {
    color: #EDB98C;
    font-size: 200%;
    text-align: center;
}

.itemCount {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A0B19D;
    width: 30%;
    font-family: sans-serif;
    font-size: 150%;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 2%;
}

.contador {
    background-color: #FFFFFF;
    color: black;
    border-radius: 80px;
    padding: 7%;
}

.btnSumar {
    border: none;
    background-color: #EDB98C;
    font-family: sans-serif;
    font-size: 70%;
    color: #FFFFFF;
    margin: 5%;
    padding: 8%;
    border-radius: 10%;
}

.btnRestar {
    border: none;
    background-color: #EDB98C;
    font-family: sans-serif;
    font-size: 70%;
    color: #FFFFFF;
    padding: 8%;
    border-radius: 10%;
    margin: 5%;
}

.botonesSumarRestar {
    display: flex;
    justify-content: space-around;
}

.btnAgregar {
    width: 100%;
    border: none;
    background-color: #EDB98C;
    font-family: sans-serif;
    font-size: 75%;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 2%;
    padding: 3%;
}